
*.sublime-project

*.sublime-workspace

pyksp\.egg-info/

pyksp/compiler2/__pycache__/

pyksp/compiler2/tests/__pycache__/

*.pyc

\.ropeproject/

old/

cover/

htmlcov/

tests_old/
