
*.sublime-project

*.sublime-workspace

pyksp\.egg-info/

pyksp/compiler2/__pycache__/

pyksp/compiler2/tests/__pycache__/

pyksp/compiler/__pycache__/

pyksp/__pycache__/

old/

htmlcov/

\.vscode/

\.mypy_cache/

tests_old/

pyksp/tests/

\.pytest_cache/

__pycache__/
